@charset"utf-8";
body, button, input, select, textarea {
    font:14px/1.5 arial
}
h1, h2, h3, h4, h5, h6, input, select, textarea {
    font-size:100%
}
body, button, dd, dl, h1, h2, h3, h4, input, ol, p, textarea, ul {
    margin:0
}
ol, ul {
    padding-left:0;
    list-style-type:none
}
img {
    border:0
}
.cl {
    *zoom:1
}
.cl:after {
    content:'\20';
    display:block;
    clear:both;
    height:0
}
a, button, input, select {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    tap-highlight-color:rgba(0, 0, 0, 0)
}
a img, span img {
    vertical-align:top
}
i, s {
    font-style:normal
}
img {
    max-width:100%
}
table {
    border-collapse:collapse;
    border-spacing:0
}
html {
    height:100%
}
body {
    background:#F5F5F5;
    font:14px/1.5 arial, \5FAE\8F6F\96C5\9ED1;
    position:relative;
    color:#333;
    min-height:100%;
    padding-top:50px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
address {
    font-style:normal
}
a {
    -webkit-transition:color .3s ease-in-out;
    transition:color .3s ease-in-out;
    color:#73C542;
    text-decoration:none
}
:root body .ui_hide {
    display:none
}
.ui_vhide {
    visibility:hidden
}
.z {
    float:left
}
.y {
    float:right
}
.ui_m {
    margin-left:auto;
    margin-right:auto
}
.ui_toe {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden
}
.ui_ova {
    overflow:auto
}
.ui_ovh {
    overflow:hidden
}
.ui_rel {
    position:relative
}
.ui_abs {
    position:absolute;
    z-index:1
}
.ui_tac {
    text-align:center
}
.ui_tar {
    text-align:right
}
:root .ui_db {
    display:block
}
.ui_dib {
    display:inline-block
}
.ui_di {
    display:inline
}
:root .ui_br_3 {
    -webkit-border-radius:3px;
    border-radius:3px
}
:root .ui_br_0 {
    -webkit-border-radius:0;
    border-radius:0
}
:root .ui_br_50pc {
    -webkit-border-radius:50%;
    border-radius:50%
}
.ui_break {
    word-wrap:break-word;
    word-break:break-all
}
.u_bsb {
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
:root .ui_fixed {
    position:fixed;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    z-index:500;
    left:0
}
.ui_top {
    top:0
}
.ui_right {
    right:0
}
.ui_bottom {
    bottom:0
}
.ui_left {
    left:0
}
.am_all {
    -webkit-transition:all .3s cubic-bezier(0.33, .66, .66, 1)
}
.u_fw_400 {
    font-weight:400
}
.ui_close {
    font-size:40px;
    color:#fff;
    font-weight:100;
    line-height:20px;
    right:10px;
    top:10px
}
@font-face {
    font-family:iuniicon;
    src:url(http://static.iuniimg.com/img/font/iuniicon.eot?st=2014);
    src:url(http://static.iuniimg.com/img/font/iuniicon.eot?#iefix?st=2014) format('embedded-opentype'), url(http://static.iuniimg.com/img/font/iuniicon.woff?st=2014) format('woff'), url(http://static.iuniimg.com/img/font/iuniicon.ttf?st=2014) format('truetype'), url(http://static.iuniimg.com/img/font/iuniicon.svg#townregular?st=2014) format('svg');
    font-weight:400;
    font-style:normal
}
.iunifont {
    font-family:iuniicon;
    font-size:18px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-text-stroke-width:.2px
}
.ui_fs12 {
    font-size:12px
}
.ui_fs14 {
    font-size:14px
}
.ui_fs16 {
    font-size:16px
}
.ui_fs18 {
    font-size:18px
}
.ui_fs20 {
    font-size:20px
}
.ui_fs22 {
    font-size:22px
}
.ui_fs24 {
    font-size:24px
}
.ui_fs26 {
    font-size:26px
}
.ui_fs28 {
    font-size:28px
}
:root .ui_clr_000 {
    color:#000
}
.ui_clr_333 {
    color:#333
}
.ui_clr_666 {
    color:#666
}
.ui_clr_999 {
    color:#999
}
.ui_clr_blue {
    color:#4BBDCB
}
.ui_clr_yellow {
    color:#FACD36
}
.ui_clr_red {
    color:red
}
.ui_clr_green {
    color:#2B9979
}
.ui_clr_orange {
    color:#F66400
}
.ui_clr_white {
    color:#FFF
}
.ui_mt5 {
    margin-top:5px
}
.ui_mr5 {
    margin-right:5px
}
.ui_mb5 {
    margin-bottom:5px
}
.ui_ml5 {
    margin-left:5px
}
.ui_mg10 {
    margin:10px
}
.ui_mt10 {
    margin-top:10px
}
.ui_mr10 {
    margin-right:10px
}
.ui_mb10 {
    margin-bottom:10px
}
.ui_ml10 {
    margin-left:8px
}
.ui_mb12 {
    margin-bottom:12px
}
.ui_mg15 {
    margin:15px
}
.ui_mt15 {
    margin-top:15px
}
.ui_mr15 {
    margin-right:15px
}
.ui_mb15 {
    margin-bottom:15px
}
.ui_ml15 {
    margin-left:15px
}
.ui_mt20 {
    margin-top:20px
}
.ui_mb20 {
    margin-bottom:20px
}
.ui_mt25 {
    margin-top:25px
}
.ui_mb25 {
    margin-bottom:25px
}
.ui_mt30 {
    margin-top:30px
}
.ui_mb30 {
    margin-bottom:30px
}
.ui_mt35 {
    margin-top:35px
}
.ui_mb35 {
    margin-bottom:35px
}
.ui_mb40 {
    margin-bottom:40px
}
.ui_mt40 {
    margin-top:40px
}
.ui_mt50 {
    margin-top:50px
}
.ui_mr50 {
    margin-right:50px
}
.ui_mb50 {
    margin-bottom:50px
}
:root .ui_pd0 {
    padding:0
}
.ui_pd5 {
    padding:5px
}
.ui_pt5 {
    padding-top:5px
}
.ui_pr5 {
    padding-right:5px
}
.ui_pb5 {
    padding-bottom:5px
}
.ui_pl5 {
    padding-left:5px
}
.ui_pd10 {
    padding:10px
}
.ui_pt10 {
    padding-top:10px
}
.ui_pr10 {
    padding-right:10px
}
.ui_pb10 {
    padding-bottom:10px
}
.ui_pl10 {
    padding-left:10px
}
.ui_pd15 {
    padding:15px
}
.ui_pt12 {
    padding-top:12px
}
.ui_pt15 {
    padding-top:15px
}
.ui_pr15 {
    padding-right:15px
}
.ui_pb15 {
    padding-bottom:15px
}
.ui_pl15 {
    padding-left:15px
}
.ui_pd20 {
    padding:20px
}
.ui_pt20 {
    padding-top:20px
}
.ui_pr20 {
    padding-right:20px
}
.ui_pb20 {
    padding-bottom:20px
}
.ui_pl20 {
    padding-left:20px
}
.ui_pd25 {
    padding:25px
}
.ui_pt25 {
    padding-top:25px
}
.ui_pr25 {
    padding-right:25px
}
.ui_pb25 {
    padding-bottom:25px
}
.ui_pl25 {
    padding-left:25px
}
.ui_pd30 {
    padding:30px
}
.ui_pt30 {
    padding-top:30px
}
.ui_pb30 {
    padding-bottom:30px
}
.ui_pt45 {
    padding-top:45px
}
.ui_pr45 {
    padding-right:45px
}
.ui_pl45 {
    padding-left:45px
}
.ui_pb70 {
    padding-bottom:70px
}
:root .ui_bd_ccc {
    border:1px solid #AAA
}
:root .ui_bb_ccc {
    border-bottom:1px solid #AAA
}
:root .ui_bd, :root .ui_bd_d3 {
    border:1px solid #D3D3D3
}
:root .ui_bt, :root .ui_bt_d3 {
    border-top:1px solid #D3D3D3
}
:root .ui_br, :root .ui_br_d3 {
    border-right:1px solid #D3D3D3
}
:root .ui_bb, :root .ui_bb_d3 {
    border-bottom:1px solid #D3D3D3
}
:root .ui_bl, :root .ui_bl_d3 {
    border-left:1px solid #D3D3D3
}
:root .ui_br_none {
    border-right:0
}
:root .ui_bb_none {
    border-bottom:0
}
:root .ui_bl_none {
    border-left:0
}
.ui_bg_white {
    background:#fff
}
.ui_bg_fc {
    background:#fcfcfc
}
.ui_bg_gray {
    background:#F0F0F0
}
.ui_bg_gray_dark {
    background:#CCC
}
.ui_bg_loading {
    background:url(http://static.iuniimg.com/img/mobile/loading.gif) 50% 50% no-repeat
}
.ui_m2l {
    max-height:3em
}
.ui_2l {
    height:3em
}
.ui_1l {
    height:1.5em
}
.ui_h_100pc {
    height:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.ui_h_100px {
    height:100px
}
.ui_1l.ui_ovh {
    white-space:nowrap;
    text-overflow:ellipsis
}
.ui_w_100pc {
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.ui_w_20pc {
    width:20%
}
.ui_w_25pc {
    width:25%
}
.ui_w_30pc {
    width:30%
}
:root .u_fb {
    display:-webkit-box
}
.u_f {
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
    display:block
}
:root .u_fb_pc {
    display:-webkit-box;
    -webkit-box-pack:center
}
:root .u_fb_pe {
    display:-webkit-box;
    -webkit-box-pack:end
}
:root .u_fb_pj {
    display:-webkit-box;
    -webkit-box-pack:justify
}
:root .u_fb_ac {
    display:-webkit-box;
    -webkit-box-align:center
}
:root body .u_fb_as {
    display:-webkit-box;
    -webkit-box-align:start
}
:root .u_c {
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center
}
.u_sub2>.u_f {
    width:50%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.u_fb_v {
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical
}
.ui_btn {
    -webkit-appearance:none;
    appearance:none;
    display:block;
    border-radius:3px;
    width:100%;
    height:45px;
    line-height:45px;
    font-size:18px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    border:0 none;
    color:#FFF
}
.btn_tran, .btn_tran_blue, .btn_tran_green, .btn_tran_red {
    background:0 0;
    border:1px solid #fff;
    line-height:43px;
    border-radius:0;
    color:#666
}
.btn_tran_red {
    color:#F62E2A;
    border-color:#F62E2A;
    border-radius:3px
}
.btn_tran_green {
    color:#2B9A79;
    border-color:#2B9A79;
    border-radius:3px
}
.btn_tran_blue {
    color:#4BBDCB;
    border-color:#4BBDCB;
    border-radius:3px
}
.btn_white {
    background:#FFF;
    color:#4BBDCB;
    border-radius:0
}
.btn_white:hover {
    background:#D7D7D7
}
.btn_green {
    background:#097
}
.btn_blue {
    background:#73C542
}
.btn_yellow {
    background:#FBD91B;
    color:#921200
}
.btn_orange {
    background:#EF4222
}
.btn_orange:hover {
    background:#f60
}
.btn_gray, .btn_gray:hover {
    background:#ccc
}
.btn_middle, .btn_mini, .btn_small {
    display:inline-block;
    padding:0 15px;
    width:auto;
    vertical-align:top
}
.btn_middle {
    padding:0 22px
}
.btn_mini {
    height:30px;
    line-height:30px;
    padding:0 10px
}
.btn_drag {
    height:56px;
    color:#999;
    position:relative
}
.btn_drag span {
    padding:5px 10px;
    position:relative;
    background:#F5F5F5
}
.btn_drag:before {
    content:"\20";
    position:absolute;
    width:100%;
    height:0;
    border-top:1px solid #E6E6E6;
    left:0;
    top:28px
}
.ui_input {
    height:45px;
    padding:0 0 0 10px;
    border:0 none;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    line-height:normal
}
[class*=icon_]+.ui_input {
    padding-left:50px
}
.textarea {
    resize:none;
    border:0 none;
    padding:13px 20px 10px 10px;
    vertical-align:top
}
.ui_select {
    display:block;
    width:100%;
    height:45px;
    -webkit-appearance:none;
    appearance:none;
    padding-left:6px;
    border:0;
    background:0;
    color:#A9A9A9
}
.checkbox {
    width:20px;
    height:20px;
    vertical-align:middle
}
.ui_mask {
    background:-webkit-linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
    color:#fff
}
.ui_dialog {
    background:#fff;
    width:80%;
    font-size:16px
}
.dialog_txt {
    padding:45px 15px;
    color:#000
}
.btn_dialog {
    -webkit-appearance:none;
    appearance:none;
    height:45px;
    background:#fff;
    border:0
}
.btn_dialog_area {
    border-top:1px solid #E6E6E6
}
.btn_dialog+.btn_dialog {
    border-left:1px solid #E6E6E6
}
.dialog_share_wethat {
    background:url(http://static.iuniimg.com/img/mobile/wx_share.png) 50% 0 no-repeat;
    background-size:100% auto;
    width:100%;
    height:100%;
    line-height:999em;
    overflow:hidden
}
.ui_tips {
    background:rgba(0, 0, 0, .7);
    z-index:900;
    display:inline-block;
    padding:5px 10px;
    color:#fff;
    border-radius:3px;
    -webkit-transform:translate3d(0, -200px, 0);
    transform:translate3d(0, -200px, 0)
}
.li {
    padding:15px;
    border-bottom:1px solid #D3D3D3;
    background:#fff
}
.u_l {
    padding:15px;
    border-bottom:1px solid #D3D3D3;
    background:#fff;
    display:-webkit-box;
    -webkit-box-align:center
}
.u_u {
    border-top:1px solid #D3D3D3
}
.li_arrow_r:after {
    content:"\20";
    width:8px;
    height:8px;
    border-top:2px solid #AAA;
    border-right:2px solid #AAA;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    display:block
}
.li_arrow_b:after {
    content:"\20";
    width:8px;
    height:8px;
    border-top:2px solid #AAA;
    border-right:2px solid #AAA;
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
    display:block
}
.li_arrow_t:after {
    content:"\20";
    width:8px;
    height:8px;
    border-top:2px solid #AAA;
    border-right:2px solid #AAA;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    display:block
}
[class*=icon_] {
    display:block;
    background:url(http://static.iuniimg.com/img/mobile/m_icon.png?t=2015060801) 0 0 no-repeat;
    background-size:150px 553px
}
.icon_del {
    background-position:-40px -102px;
    width:20px;
    height:20px
}
.icon_user {
    background-position:0 -63px;
    width:17px;
    height:19px;
    position:absolute;
    left:13px;
    top:13px
}
.icon_pw {
    background-position:-17px -63px;
    width:17px;
    height:19px;
    position:absolute;
    left:13px;
    top:13px
}
.icon_error {
    background-position:-54px -63px;
    width:18px;
    height:18px;
    margin-right:5px
}
.icon_check {
    background-position:-34px -63px;
    width:20px;
    height:19px;
    position:absolute;
    left:13px;
    top:13px
}
.icon_warn {
    background-position:-21px -104px;
    width:18px;
    height:18px
}
.icon_cart_null {
    background-position:0 -123px;
    width:83px;
    height:83px;
    margin-bottom:10px
}
.icon_coupon_null {
    background-position:0 -208px;
    width:150px;
    height:111px;
    margin-bottom:10px
}
.icon_order_null {
    background-position:0 -321px;
    width:114px;
    height:142px;
    margin-bottom:10px
}
.icon_fanli_null {
    background-position:0 -463px;
    width:120px;
    height:91px;
    margin-bottom:10px
}
.icon_suc {
    background:#39C076;
    position:relative;
    width:20px;
    height:20px;
    border-radius:50%;
    margin-right:5px
}
.icon_suc:before {
    content:"\20";
    width:10px;
    height:5px;
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
    position:absolute;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    left:4px;
    top:5px
}
.icon_copy_url, .icon_qzone, .icon_wechat, .icon_weibo {
    width:32px;
    height:32px;
    display:inline-block
}
.icon_more_li {
    width:16px;
    height:16px;
    background-position:-66px -40px;
    margin-top:3px
}
.icon_weibo {
    background-position:-97px -42px
}
.icon_wechat {
    background-position:-97px -74px
}
.icon_qzone {
    background-position:-97px -108px
}
.icon_copy_url {
    background-position:-97px -141px
}
.header {
    line-height:50px;
    height:50px;
    padding:0 15px;
    border-bottom:1px solid #E6E6E6;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background:#FAFAFA;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:500
}
.header h1 {
    font-size:20px;
    font-weight:400;
    margin-bottom:-50px
}
.header[class*=icon_] {
    width:22px;
    height:22px;
    margin-top:14px
}
.i_back {
    width:28px;
    height:28px;
    margin-top:11px
}
.icon_cart .num {
    font-size:10px;
    width:20px;
    height:20px;
    background:#EA3F17;
    color:#fff;
    -webkit-border-radius:50%;
    position:absolute;
    line-height:20px;
    text-align:center;
    z-index:1;
    right:-10px;
    top:50%;
    margin-top:-17px;
    display:none
}
.icon_cart {
    position:relative;
    background-position:-22px -41px
}
.icon_uac {
    margin-right:10px;
    background-position:0 -41px
}
.icon_home {
    background-position:-45px -41px
}
.icon_alipay {
    background-position:-96px 0;
    width:35px;
    height:20px;
    margin-right:5px
}
.i_back:before {
    display:block;
    content:"\20";
    width:15px;
    height:15px;
    border-top:2px solid #4B4B4B;
    border-right:2px solid #4B4B4B;
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg)
}
.logo.iunifont {
    font-size:32px;
    color:#4BBDCB
}
.icon_share {
    position:relative;
    background-position:-130px 0
}
.header .icon_share {
    height:30px
}
.icon_share .fan {
    display:none
}
.icon_bank {
    background-position:-96px -21px;
    width:35px;
    height:20px;
    margin-right:5px
}
.footer_m {
    font-size:12px;
    line-height:40px
}
.ui_tabs {
    background:#fff;
    color:#666
}
.ui_tab {
    height:44px;
    line-height:44px;
    text-align:center
}
.ui_tabs .u_f {
    padding:0 15px
}
.ui_tabs .cur .ui_tab {
    color:#4BBDCB;
    border-bottom:1px solid #4BBDCB
}
.input_num i {
    margin:0;
    background:0 0;
    width:28px;
    height:28px;
    font-size:18px
}
.input_num input {
    height:28px;
    text-align:center;
    width:35px;
    border:0;
    padding:0;
    background:#fff
}
.icon_less {
    border-right:1px solid #E6E6E6
}
.icon_more {
    border-left:1px solid #E6E6E6
}
.input_num {
    border:1px solid #E6E6E6;
    border-radius:3px;
    color:#333
}
.u_l .radio {
    display:block
}
.u_l .ui_di {
    display:inline
}
.ui_checkbox {
    width:18px;
    height:18px;
    border:1px solid #DCDCDC;
    border-radius:50%
}
.checkbox_ed {
    background:#39C076;
    border-color:#39C076;
    position:relative
}
.checkbox_ed:before {
    content:"\20";
    width:10px;
    height:5px;
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
    position:absolute;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    left:3px;
    top:4px
}
.u_radio {
    padding:5px 10px;
    border:1px solid #D3D3D3;
    margin-right:10px;
    border-radius:3px;
    margin-bottom:5px
}
.u_radio.cur {
    border-color:#5DBDCB
}
.radio_color {
    width:20px;
    height:20px;
    border-radius:50%;
    margin-bottom:2px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow:0 0 2px 1px rgba(211, 211, 211, .8)
}
.radio_white {
    background:#fff
}
.radio_black {
    background:#000
}
.radio_green {
    background:#9EE6DD
}
.u_radio.disable {
    border:1px dashed #E6E6E6;
    color:#999
}
.ui_loading {
    text-align:center;
    padding:6px;
    background:rgba(0, 0, 0, .3);
    border-radius:5px
}
.ui_loading .canvas {
    vertical-align:middle
}