<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    <title>商品推荐</title>
    <link href="__PUBLIC__/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/css/common.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/js/jquery-1.12.1.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/H5Plugin/bus.js" type="text/javascript"></script>
    <script>
        /*
         if(window.plus){
         plusReady();
         }else{
         document.addEventListener( "plusready",  onPlusReady, false );
         }*/
        //loadCity();

        $(document).ready(function () {
            $('.x-panel-top').delegate(".x-titlebar", "click", function () {
                alert(123);
            });
            $('.col').delegate("img", "click", function () {
                //alert(this.name.split('_')[0]);
                //alert(this.name.split('_')[1]);
                var commands = {
                    "type": this.name.split('_')[0],
                    "target_id": this.name.split('_')[1]
                }

                //$.parseJSON(goods);
                plus.pluginkangcun.PluginCommandsFunction(bus, function (result) {
                            alert(result);
                        },
                        function (result) {
                            alert(result);
                        });
            });

        });


    </script>
</head>
<body>


<div class="x-panel-top">
        <div class="x-titlebar">
            <div class="x-titlebar-left">
                <span class="h5 text-white">服务推荐</span>
                <span class="h5 text-right"></span>
            </div>
            <div class="x-titlebar-right reverse"></div>
        </div>
</div>
<div id="container" class="x-cards">
    {$container}
</div>



</body>
</html>