<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    <title>商品推荐</title>
    <link href="__PUBLIC__/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/css/common.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/js/jquery-1.12.1.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/os.js" type="text/javascript"></script>
    <script>

        function setupWebViewJavascriptBridge(callback) {
            if (window.WebViewJavascriptBridge) {
                return callback(WebViewJavascriptBridge);
            }
            if (window.WVJBCallbacks) {
                return window.WVJBCallbacks.push(callback);
            }
            window.WVJBCallbacks = [callback];
            var WVJBIframe = document.createElement('iframe');
            WVJBIframe.style.display = 'none';
            WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
            document.documentElement.appendChild(WVJBIframe);
            setTimeout(function () {
                document.documentElement.removeChild(WVJBIframe)
            }, 0)
        }

        $(document).ready(function () {
            /*
            $('.x-panel-top').delegate(".x-titlebar", "click", function () {
                alert(123);
            });
            */
            if (browser.versions.ios) {
                setupWebViewJavascriptBridge(function (bridge) {
                    $('.col').delegate("img", "click", function () {
                        //alert(this.name.split('_')[0]);
                        //alert(this.name.split('_')[1]);
                        var commends = {
                            "type": this.name.split('_')[0],
                            "target_id": this.name.split('_')[1]
                        };
                        //$.parseJSON(goods);
                        bridge.callHandler('callCommends', commends, function (response) {
                            //log('JS got response', response)
                        });
                    });
                });
            } else {
                alert("android");
                $('.col').delegate("img", "click", function () {
                    var commends = {
                        "type": this.name.split('_')[0],
                        "target_id": this.name.split('_')[1]
                    };
                    //$.parseJSON(goods);
                    var str = JSON.stringify(commends);
                    window.AndroidWebView.callCommends(str);
                });
            }
        });


    </script>
</head>
<body>


<div class="x-panel-top">
        <div class="x-titlebar">
            <div class="x-titlebar-left">
                <span class="h5 text-white">服务推荐</span>
                <span class="h5 text-right"></span>
            </div>
            <div class="x-titlebar-right reverse"></div>
        </div>
</div>
<div id="container" class="x-cards">
    {$u_container}
</div>

<div class="x-panel-top">
    <div class="x-titlebar">
        <div class="x-titlebar-left">
            <span class="h5 text-white">商户推荐</span>
            <span class="h5 text-right"></span>
        </div>
        <div class="x-titlebar-right reverse"></div>
    </div>
</div>
<div id="bus_container" class="x-cards">
    {$bus_container}
</div>

<div class="x-panel-top">
    <div class="x-titlebar">
        <div class="x-titlebar-left">
            <span class="h5 text-white">产品推荐</span>
            <span class="h5 text-right"></span>
        </div>
        <div class="x-titlebar-right reverse"></div>
    </div>
</div>
<div id="goods" class="x-cards">
    {$goods_container}
</div>

<div class="x-panel-top">
    <div class="x-titlebar">
        <div class="x-titlebar-left">
            <span class="h5 text-white">保险推荐</span>
            <span class="h5 text-right"></span>
        </div>
        <div class="x-titlebar-right reverse"></div>
    </div>
</div>
<div  class="x-cards">
    {$safe_container}
</div>

</body>
</html>