<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    <title>推荐</title>
    <link href="__PUBLIC__/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/css/common.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/js/jquery-1.12.1.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/os.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/bridge.js" type="text/javascript"></script>
    <script>


        $(document).ready(function () {
            /*
             $('.x-panel-top').delegate(".x-titlebar", "click", function () {
             alert(123);
             });
             */


            if (browser.versions.ios) {
                setupWebViewJavascriptBridge(function (bridge) {
                    $('.x-cards').delegate("img", "click", function () {
                        var commends = {
                            "type": this.name.split('_')[0],
                            "target_id": this.name.split('_')[1],
                            "url": this.alt
                        };
                        //$.parseJSON(goods);
                        bridge.callHandler('callCommends', commends, function (response) {
                            //log('JS got response', response)
                        });
                    });
                });
            } else if(browser.versions.android) {
                $('.x-cards').delegate("img", "click", function () {
                    var commends = {
                        "type": this.name.split('_')[0],
                        "target_id": this.name.split('_')[1],
                        "url": this.alt
                    };
                    //$.parseJSON(goods);
                    var str = JSON.stringify(commends);
                    window.AndroidWebView.callCommends(str);

                });

            }
        });


    </script>
</head>
<body>


<div class="x-panel-top">
    <div class="x-titlebar">
        <div class="x-titlebar-left">
            <span class="h7 text-white">服务推荐</span>
            <span class="h5 text-right"></span>
        </div>
        <div class="x-titlebar-right reverse"></div>
    </div>
</div>

<div id="container" class="x-cards">
    <div class="row x-row x-menu2">
        <div class="col col-xs-4"><img name='{$u_container[0]->type}_{$u_container[0]->target_id}'
                                       src='{$u_container[0]->pic_path}' alt='{$u_container[0]->url}'
                                       class="img-responsive" onclick="test();"/></div>
        <div class="col col-xs-8"><img name='{$u_container[1]->type}_{$u_container[1]->target_id}'
                                       src='{$u_container[1]->pic_path}' alt='{$u_container[1]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-4"><img name='{$u_container[2]->type}_{$u_container[2]->target_id}'
                                       src='{$u_container[2]->pic_path}' alt='{$u_container[2]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-4"><img name='{$u_container[3]->type}_{$u_container[3]->target_id}'
                                       src='{$u_container[3]->pic_path}' alt='{$u_container[3]->url}'
                                       class="img-responsive"/></div>
    </div>
    <div class="row x-row x-menu2">
        <div class="col col-xs-12"><img name='{$u_container[4]->type}_{$u_container[4]->target_id}'
                                        src='{$u_container[4]->pic_path}' alt='{$u_container[4]->url}'
                                        class="img-responsive"/></div>
    </div>
</div>

<div class="split"></div>
<div class="x-panel-top">
    <div class="x-titlebar">
        <div class="x-titlebar-left">
            <span class="h7 text-white">商户推荐</span>
            <span class="h5 text-right"></span>
        </div>
        <div class="x-titlebar-right reverse"></div>
    </div>
</div>
<div id="bus_container" class="x-cards">
    <div class="row x-row x-menu2">
        <div class="col col-xs-6"><img name='{$bus_container[0]->type}_{$bus_container[0]->target_id}'
                                       src='{$bus_container[0]->pic_path}' alt='{$bus_container[0]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-6"><img name='{$bus_container[1]->type}_{$bus_container[1]->target_id}'
                                       src='{$bus_container[1]->pic_path}' alt='{$bus_container[1]->url}'
                                       class="img-responsive"/></div>
    </div>
    <div class="row x-row x-menu2">
        <div class="col col-xs-4"><img name='{$bus_container[2]->type}_{$bus_container[2]->target_id}'
                                       src='{$bus_container[2]->pic_path}' alt='{$bus_container[2]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-4"><img name='{$bus_container[3]->type}_{$bus_container[3]->target_id}'
                                       src='{$bus_container[3]->pic_path}' alt='{$bus_container[3]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-4"><img name='{$bus_container[4]->type}_{$bus_container[4]->target_id}'
                                       src='{$bus_container[4]->pic_path}' alt='{$bus_container[4]->url}'
                                       class="img-responsive"/></div>
    </div>
    <div class="row x-row x-menu2">
        <div class="col col-xs-12"><img name='{$bus_container[5]->type}_{$bus_container[5]->target_id}'
                                        src='{$bus_container[5]->pic_path}' alt='{$bus_container[5]->url}'
                                        class="img-responsive"/></div>
    </div>

</div>

<div class="split"><br/></div>
<div class="x-panel-top">
    <div class="x-titlebar">
        <div class="x-titlebar-left">
            <span class="h7 text-white">产品推荐</span>
            <span class="h5 text-right"></span>
        </div>
        <div class="x-titlebar-right reverse"></div>
    </div>
</div>
<div id="goods" class="x-cards">
    <div class="row x-row x-menu2">
        <div class="col col-xs-3"><img name='{$goods_container[0]->type}_{$goods_container[0]->target_id}'
                                       src='{$goods_container[0]->pic_path}' alt='{$goods_container[0]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-3"><img name='{$goods_container[1]->type}_{$goods_container[1]->target_id}'
                                       src='{$goods_container[1]->pic_path}' alt='{$goods_container[1]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-3"><img name='{$goods_container[2]->type}_{$goods_container[2]->target_id}'
                                       src='{$goods_container[2]->pic_path}' alt='{$goods_container[2]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-3"><img name='{$goods_container[3]->type}_{$goods_container[3]->target_id}'
                                       src='{$goods_container[3]->pic_path}' alt='{$goods_container[3]->url}'
                                       class="img-responsive"/></div>
    </div>
    <div class="row x-row x-menu2">
        <div class="col col-xs-3"><img name='{$goods_container[4]->type}_{$goods_container[4]->target_id}'
                                       src='{$goods_container[4]->pic_path}' alt='{$goods_container[4]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-3"><img name='{$goods_container[5]->type}_{$goods_container[5]->target_id}'
                                       src='{$goods_container[5]->pic_path}' alt='{$goods_container[5]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-3"><img name='{$goods_container[6]->type}_{$goods_container[6]->target_id}'
                                       src='{$goods_container[6]->pic_path}' alt='{$goods_container[6]->url}'
                                       class="img-responsive"/></div>
        <div class="col col-xs-3"><img name='{$goods_container[7]->type}_{$goods_container[7]->target_id}'
                                       src='{$goods_container[7]->pic_path}' alt='{$goods_container[7]->url}'
                                       class="img-responsive"/></div>
    </div>
    <div class="row x-row x-menu2">
        <div class="col col-xs-12"><img name='{$goods_container[8]->type}_{$goods_container[8]->target_id}'
                                        src='{$goods_container[8]->pic_path}' alt='{$goods_container[8]->url}'
                                        class="img-responsive"/></div>
    </div>
</div>
<div class="split"><br/></div>
<div class="x-panel-top">
    <div class="x-titlebar">
        <div class="x-titlebar-left">
            <span class="h7 text-title text-white">保险推荐</span>
            <span class="h5 text-right"></span>
        </div>
        <div class="x-titlebar-right reverse"></div>
    </div>
</div>
<div class="x-cards" id="insurance">
    <div class="row x-row x-menu2">
        <div class="col col-xs-6">
            <div class="col col-xs-12"><img name='{$safe_container[0]->type}_{$safe_container[0]->target_id}'
                                            src='{$safe_container[0]->pic_path}' alt='{$safe_container[0]->url}'
                                            class="img-responsive"/></div>
            <div class="col col-xs-12"><img name='{$safe_container[1]->type}_{$safe_container[1]->target_id}'
                                            src='{$safe_container[1]->pic_path}' alt='{$safe_container[1]->url}'
                                            class="img-responsive"/></div>
        </div>
        <div class="col col-xs-6">
            <div class="col col-xs-6"><img name='{$safe_container[2]->type}_{$safe_container[2]->target_id}'
                                           src='{$safe_container[2]->pic_path}' alt='{$safe_container[2]->url}'
                                           class="img-responsive"/></div>
            <div class="col col-xs-6"><img name='{$safe_container[3]->type}_{$safe_container[3]->target_id}'
                                           src='{$safe_container[3]->pic_path}' alt='{$safe_container[3]->url}'
                                           class="img-responsive"/></div>
        </div>
    </div>
    <div class="row x-row x-menu2">
        <div class="col col-xs-12"><img name='{$safe_container[4]->type}_{$safe_container[4]->target_id}'
                                        src='{$safe_container[4]->pic_path}' alt='{$safe_container[4]->url}'
                                        class="img-responsive"/></div>
    </div>
</div>

</body>
</html>